<h2 class="h4">Mon panier</h2>

<div class="card" *ngIf="basket$ | async as basket">
  <div class="card-header" *ngIf="numberOfItems$ | async as numberOfItems">
    {{ numberOfItems }} {{ numberOfItems === 1 ? 'article' : 'articles' }}
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between" *ngFor="let product of basket">
      {{ product.title }} <span class="text-primary">{{ product.price | currency: 'EUR' }}</span>
    </li>

    <li class="list-group-item d-flex justify-content-between fw-bold" *ngIf="basket.length; else basketEmpty">
      Total <span class="text-primary">{{ total$ | async | currency: 'EUR' }}</span>
    </li>

    <ng-template #basketEmpty>
      <li class="list-group-item text-secondary">Votre panier est vide</li>
    </ng-template>
  </ul>
</div>

<div class="card mt-3">
  <div class="card-header">Paiement</div>

  <app-basket-form />
</div>
