<form class="card-body" [formGroup]="formGroup" (ngSubmit)="checkout()">
  <div class="mb-3">
    <label class="form-label" for="name" i18n="@@FormField.Name">Nom</label>

    <input
      type="text"
      id="name"
      class="form-control"
      [class.is-invalid]="formGroup.controls.name.touched && formGroup.controls.name.invalid"
      [class.is-valid]="formGroup.controls.name.valid"
      [formControl]="formGroup.controls.name"
    />

    <div class="invalid-feedback" i18n="@@FormError.Required">Champ obligatoire</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="address" i18n="@@FormField.Address">Adresse</label>

    <textarea
      id="address"
      class="form-control"
      [class.is-invalid]="formGroup.controls.address.touched && formGroup.controls.address.invalid"
      [class.is-valid]="formGroup.controls.address.valid"
      [formControl]="formGroup.controls.address"
    ></textarea>

    <div class="invalid-feedback" i18n="@@FormError.Required">Champ obligatoire</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="creditCard" i18n="@@FormField.CreditCard">Numéro de carte de crédit</label>

    <input
      id="creditCard"
      class="form-control"
      [class.is-invalid]="formGroup.controls.creditCard.touched && formGroup.controls.creditCard.invalid"
      [class.is-valid]="formGroup.controls.creditCard.valid"
      [formControl]="formGroup.controls.creditCard"
    />

    <div class="invalid-feedback" *ngIf="formGroup.controls.creditCard.errors as errors">
      <ng-container *ngIf="errors?.['required']" i18n="@@FormError.Required">Champ obligatoire</ng-container>
      <ng-container *ngIf="errors?.['pattern']" i18n="@@FormError.CreditCard">
        Le numéro doit être valide (ex. 123-456)
      </ng-container>
    </div>
  </div>

  <button
    [disabled]="formGroup.invalid || formGroup.disabled"
    type="submit"
    class="btn btn-success"
    i18n="@@Action.Validate"
  >
    Valider
  </button>
</form>
