<header class="p-4 mb-4 bg-light rounded-3">
  <h1>{{ welcomeMsg }}</h1>

  <p i18n="@@Basket.Amount">Votre panier s'élève à {{ total$ | async | currency: 'EUR' }}</p>

  <p class="mb-0">
    <a class="btn btn-primary btn-large" [routerLink]="['/basket']" i18n="@@Action.GotoBasket">Voir mon panier</a>
  </p>
</header>

<h2 class="h4">
  <ng-container i18n="@@Catalog.Title">Catalogue</ng-container> - <small class="fw-normal">{{ now | date }}</small>
</h2>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
  <ng-container *ngFor="let product of products$ | async">
    <app-product class="col" *ngIf="isAvailable(product)" [product]="product" (addToBasket)="addToBasket($event)" />
  </ng-container>

  <div *ngIf="isStockEmpty$ | async" class="col text-secondary" i18n="@@Catalog.Empty">
    Désolé, notre stock est vide !
  </div>
</div>
